.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;

    @include article_constr;
    @media screen and (max-width: 768px) {
        margin-left: 23px;
        margin-top: -55px;
        margin-bottom: -108px;
      }
}
