.banner_button, .delivery_button, .about_us_button,
.connect_button, .search-form_button, .form_button {
    background-color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
        background-color: #C29974;
        border-style: none;
    }
      
    &:active {
        background-color: #CFAF91;
        border-style: none;
    }
      
    &:disabled {
        background-color: #C7C1C1;
        border-style: none;
    }
}