.shark_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}

.frames_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}

.apron_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}

.gumball_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}

.candle_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}

.tea_pic {
    width: 380px;
    height: 385px;

    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }

    @media screen and (max-width: 376px) {
        width: 160px;
        height: 167px;
    }
}