// .cards_list-item {
//     @media screen and (max-width: 768px) {

//     }
// }

.shark_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}

.frames_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}

.apron_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}

.gumball_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}

.candle_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}

.tea_pic {
    width: 380px;
    height: 385px;
    @media screen and (max-width: 768px) {
        width: 203px;
        height: 211px;
    }
}