.categories {
  display: block;
  @media screen and (max-width: 768px) {
    margin-left: 40px;
    width: 768px;
    overflow-x: unset;
  }
  
  &_title {
    display: flex;
    margin-top: 92px;
    @media screen and (max-width: 768px) {
       margin-top: 40px;
    }
  }
  
  &_list {
    display: flex;
    margin-top: 27px;
    margin-left: -40px;
    column-gap: 20px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &-link {
      display: flex;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      width: 32px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px 0px 40px #93030340;
      position: absolute;
      transition: text-decoration 0.7s;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
      }

      &:active {
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
      }
    }
  }

  &_text {
    display: flex;
    align-items: center;
    margin-top: 27px;
    margin-left: -40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 678px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 19px;
      width: 700px;
    }
  }

  &_button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #70bbdc33;
    width: 37px;
    height: 37px;
    border-style: none;
    cursor: pointer;
  }

  &_button-ahead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 20px;
    background: #70bbdc33;
    width: 37px;
    height: 37px;
    border-style: none;
    cursor: pointer;
  }
}

.shirt_pic {
  background-color: #DBE4DB; 
  width: 280px;
  height: 270px;
  @media screen and (max-width: 768px) {
    width: 258px;
    height: 248px;
  }
}
  
.sock_pic {
  background-color: #EADDD3; 
  width: 280px;
  height: 270px;
  @media screen and (max-width: 768px) {
    width: 258px;
    height: 248px;
  }
}

.deer_pic {
  background-color: #F8F2DA; 
  width: 280px;
  height: 270px;
  @media screen and (max-width: 768px) {
    width: 258px;
    height: 248px;
  }
}

.yeti_pic {
  background-color: #D5D4E1; 
  width: 280px;
  height: 270px;
  @media screen and (max-width: 768px) {
    width: 258px;
    height: 248px;
  }
}