.footer {
  display: block;
  margin: 0 auto;
  background-color: #434343;
}

.secondary_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -40px;
  margin-top: 100px;
}

.secondary_nav_list {
  display: flex;
  column-gap: 20px;
  margin-top: 101px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}

.secondary_nav_list-item {
  display: flex;
  padding-bottom: 23px;
  border-bottom: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 380px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -269px;
  margin-top: -20px;
  column-gap: 203px;
}

.navigation_list-item {
  display: flex;
  margin-top: 15px;
}

.navigation_list-link {
  display: flex;
  width: max-content;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.navigation_list-link:hover {
  opacity: 0.5;
}

.navigation_list-link:active {
  opacity: 0.2;
}

.customer_info-item {
  display: flex;
  margin-top: 15px;
}

.customer_info-link {
  font-family: 'Open Sans';
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.customer_info-link:hover {
  opacity: 0.5;
}

.customer_info-link:active {
  opacity: 0.2;
}

/* connect style */

.connect_list {
  display: flex;
  margin-left: -624px;
  margin-top: -20px;
  column-gap: 9px;
}

.connect_list-item {
  display: flex;
  margin-left: 1px;
}

.connect_list-item:hover {
  opacity: 0.5;
}

.connect_list-item:active {
  opacity: 0.2;
}

/* form style */

.email {
  display: flex;
  align-items: center;
  margin-top: -100px;
  margin-left: 50px;
  background-color: #666666;
  height: 40px;
  width: 295px;
  border-style: none;
  padding: 0px 0px 0px 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
}

.email:hover {
  border-width: 1px;
  border-color: #FFFDFD;
}

.email:active {
  border-width: 1px;
  border-color: #FFFDFD;
}

.connect_button {
  display: flex;
  margin-top: -41px;
  margin-left: 349px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 21px;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.connect_button:hover {
  background-color: #C29974;
  border-style: none;
}

.connect_button:active {
  background-color: #CFAF91;
  border-style: none;
}

.connect_button:disabled {
  background-color: #C7C1C1;
  border-style: none;
}

/* last information - rating,developer */

.last_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  margin-left: 110px;
  margin-right: 110px;
  border-top: #666666;
  border-top-width: 1px;
  border-top-style: solid;
}

.last_info_list {
  display: flex;
  margin-top: -8px;
  margin-left: 51px;
  margin-right: 57px;
  column-gap: 77px;
}

.last_info_list-item {
  display: flex;
  margin-left: 198px;
  margin-top: 23px;
  margin-bottom: 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
}

.comp_rating {
  display: flex;
  margin-left: -122px;
}

.comp_rating:hover {
  color: #C29974;
}

.comp_rating:active {
  color: #C29974;
}

/* star rating */

.rating_area {
  display: flex;
  border: none;
  margin-top: 6px;
  margin-left: -55px;
  margin-right: -200px;
}

.rating_group {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 15px;
  background-image: url("../images/star.svg");
  background-size: 16px auto;
}

.rating_group:focus-within {
  outline: solid 1px #C29974;
  outline-offset: 2px;
}

.rating_input {
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  background-size: 16px auto;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: repeat-x;
  cursor: pointer;
  border-color: none;
}

.rating_input:focus-within ~ .rating_input {
  outline: none;
}

.rating_input:checked, .rating_input:hover {
  background-image: url("../images/star_checked.svg");
}

.rating_input:hover ~ .rating_input {
  background-image: url("../images/star.svg");
}

/* options */

.rating_input:nth-of-type(1) {
  width: 15px;
  z-index: 5;
}

.rating_input:nth-of-type(2) {
  width: 32px;
  z-index: 4;
}

.rating_input:nth-of-type(3) {
  width: 48px;
  z-index: 3;
}

.rating_input:nth-of-type(4) {
  width: 63px;
  z-index: 2;
}

.rating_input:nth-of-type(5) {
  width: 79px;
  z-index: 1;
}

/* web design link */

.web_design-link {
  display: flex;
  margin-left: -162px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #A2A2A2;
}

.web_design-link:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFFFFF;
}

.web_design-link:active {
  text-decoration-line: underline;
  text-decoration-color: #FFFFFF;
}

