.footer {
  display: block;
  margin: 0 auto;
  background-color: #434343;
}

.secondary_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -40px;
  margin-top: 100px;
  @media screen and (max-width: 768px) {
    margin-left: -30px;
  }
  @media screen and (max-width: 376px) {
    margin-left: -15px;
  }

  &_list {
    display: flex;
    column-gap: 20px;
    margin-top: 101px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    @media screen and (max-width: 768px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 376px) {
      // margin-top: 50px;
      flex-wrap: wrap;
      row-gap: 200px;
    }

    &-item {
      display: flex;
      padding-bottom: 23px;
      border-bottom: #666666;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      width: 380px;
      @media screen and (max-width: 768px) {
        width: 203px;
      }
      @media screen and (max-width: 376px) {
        width: 325px;
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -269px;
  margin-top: -20px;
  column-gap: 203px;
  @media screen and (max-width: 768px) {
    margin-left: -80px;
    column-gap: 25px;
  }
  @media screen and (max-width: 376px) {
    margin-left: 280px;
    flex-wrap: wrap;
  }
}

.navigation_list {
  @media screen and (max-width: 376px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    margin-top: -780px;
    margin-left: -295px;
  }
}

.navigation_list-item {
  display: flex;
  margin-top: 15px;
  @media screen and (max-width: 376px) {
    width: 68px;
    flex-direction: column;
  }
}

.navigation_list-link {
  display: flex;
  width: max-content;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity 0.7s;
  @media screen and (max-width: 376px) {
    font-size: 14px;
    line-height: 19px;
  }

  &:hover {
    opacity: 0.5;
  }
  
  &:active {
    opacity: 0.2;
  }
}

.customer_info_list {
  @media screen and (max-width: 376px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    margin-top: -300px;
    margin-left: -295px;
  }
}

.customer_info-item {
  display: flex;
  margin-top: 15px;
  @media screen and (max-width: 376px) {
    width: 68px;
    flex-direction: column;
  }
}

.customer_info-link {
  font-family: 'Open Sans';
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity 0.7s;
  @media screen and (max-width: 376px) {
    font-size: 14px;
    line-height: 19px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

/* connect style */

.connect_list {
  display: flex;
  margin-left: -624px;
  margin-top: -20px;
  column-gap: 9px;
  @media screen and (max-width: 768px) {
    margin-left: -265px;
  }
  @media screen and (max-width: 376px) {
    flex-wrap: wrap;
    margin-top: 99px;
    margin-left: -507px;
  }

  &-item {
    display: flex;
    margin-left: 1px;
    transition: opacity 0.7s;
  
    &:hover {
      opacity: 0.5;
    }
  
    &:active {
      opacity: 0.2;
    }
  }
}

/* form style */

.email {
  display: flex;
  align-items: center;
  margin-top: -100px;
  margin-left: 50px;
  background-color: #666666;
  height: 40px;
  width: 295px;
  border-style: none;
  padding: 0px 0px 0px 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  @media screen and (max-width: 768px) {
    width: 117px;
    margin-left: 55px;
  }
  @media screen and (max-width: 376px) {
    margin-top: -20px;
    margin-left: -440px;
    width: 225px;
  }

  &:hover {
    border-width: 1px;
    border-color: #FFFDFD;
  }

  &:active {
    border-width: 1px;
    border-color: #FFFDFD;
  }
}


.connect_button {
  display: flex;
  margin-top: -40px;
  margin-left: 345px;
  width: 81px;
  height: 40px;
  padding: 8px 21px;
  @media screen and (max-width: 768px) {
    margin-left: 170px;
  }
  @media screen and (max-width: 376px) {
    margin-left: -215px;
  }
}

/* last information - rating,developer */

.last_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  margin-left: 110px;
  margin-right: 110px;
  border-top: #666666;
  border-top-width: 1px;
  border-top-style: solid;
  @media screen and (max-width: 768px) {
    margin-left: 65px;
    width: 645px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 376px) {
    margin-left: 25px;
    flex-wrap: wrap;
    width: 325px;
    margin-top: 40px;
  }

  &_list {
    display: flex;
    margin-top: -8px;
    margin-left: 51px;
    margin-right: 57px;
    column-gap: 77px;
    @media screen and (max-width: 768px) {
      margin-left: 35px;
      flex-wrap: wrap;
    }
  
    &-item {
      display: flex;
      align-items: center;
      margin-left: 198px;
      margin-top: 23px;
      margin-bottom: 100px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      @media screen and (max-width: 768px) {
        margin-left: 10px;
      }
    }
  }
}

.copyright {
  @media screen and (max-width: 768px) {
  display: flex;
  margin-left: -20px;
  margin-top: -80px;
  }
}

.comp_rating {
  display: flex;
  margin-left: -122px;
  transition: color 0.7s;
  @media screen and (max-width: 768px) {
    margin-left: -20px;
    margin-right: 178px;
  }

  &:hover {
    color: #C29974;
  }

  &:active {
    color: #C29974;
  }
}

/* star rating */

.rating_area {
  display: flex;
  border: none;
  margin-top: 6px;
  margin-left: -55px;
  margin-right: -200px;
}

.rating_group {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 15px;
  background-image: url("/img/star.svg");
  background-size: 16px auto;

  &:focus-within {
    outline: solid 1px #C29974;
    outline-offset: 2px;
  }
}

.rating_input {
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  background-size: 16px auto;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: repeat-x;
  cursor: pointer;
  border-color: none;
  transition: background-image 0.7s;
}

.rating_input:focus-within ~ .rating_input {
  outline: none;
}

.rating_input:checked, .rating_input:hover {
  background-image: url("/img/star_checked.svg");
}

.rating_input:hover ~ .rating_input {
  background-image: url("/img/star.svg");
}

/* options */

.rating_input:nth-of-type(1) {
  width: 15px;
  z-index: 5;
}

.rating_input:nth-of-type(2) {
  width: 32px;
  z-index: 4;
}

.rating_input:nth-of-type(3) {
  width: 48px;
  z-index: 3;
}

.rating_input:nth-of-type(4) {
  width: 63px;
  z-index: 2;
}

.rating_input:nth-of-type(5) {
  width: 79px;
  z-index: 1;
}

/* web design link */

.web_design-link {
  display: flex;
  align-items: center;
  margin-left: -162px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
  transition: text-decoration 0.7s;
  @media screen and (max-width: 768px) {
    margin-left: 300px;
    margin-top: -264px;
    width: 313px;
  }
  @media screen and (max-width: 376px) {
    margin-left: -28px;
    margin-top: -180px;
  }

  &:hover {
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
  }

  &:active {
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
  }
}
