/* Header navigation */

.header {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        margin-left: 20px;
        margin-top: -35px;
    }

    @media screen and (max-width: 376px) {
        margin-left: 15px;
        margin-top: -45px;
    }

    &_list {
        display: flex;
        margin-right: 39px;
        margin-left: -41px;
        margin-top: 60px;
        align-items: center;
        column-gap: 20px;

        &-item {
            @media screen and (max-width: 768px) {
                display: none;
            }

            &-menu {
                display: none;

                @media screen and (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                    margin-left: 203px;
                }

                @media screen and (max-width: 376px) {
                    display: flex;
                    margin-left: 33px;
                }
            }
        }

        &-link {
            width: max-content;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1E0606;
            transition: opacity 0.7s;

            &:hover {
                opacity: 0.5;
            }

            &:active {
                opacity: 0.2;
            }
        }
    }

    &_contact {
        display: flex;
        margin-left: 406px;
        margin-top: 60px;
        align-items: center;
        column-gap: 23px;

        @media screen and (max-width: 768px) {
            margin-left: 206px;
        }

        @media screen and (max-width: 376px) {
            margin-left: 33px;
        }

        &-item {
            &-contacts {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .search_pic {
            @media screen and (max-width: 376px) {
                width: 13px;
                height: 13px;
            }
        }

        &-link {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1E0606;
            transition: opacity 0.7s;

            &:hover {
                opacity: 0.5;
            }

            &:active {
                opacity: 0.2;
            }
        }
    }
}

/* Logotype style */

.logo {
    margin-right: 60px;
    margin-top: 50px;
    transition: opacity 0.7s;

    @media screen and (max-width: 768px) {
        width: 62px;
        height: 32px;
    }

    @media screen and (max-width: 376px) {
        width: 42px;
        height: 22px;
    }

    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.2;
    }
}