/* Header navigation */

.header {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        margin-left: 40px;
    }

    &_list {
        display: flex;
        margin-right: 39px;
        margin-left: -41px;
        margin-top: 60px;
        align-items: center;
        column-gap: 20px;

        &-item {
            @media screen and (max-width: 768px) {
                display: none;
            }
            &-menu {
                display: none;
                @media screen and (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                    margin-left: 360px;
                }
            }
        }

        &-link {
            width: max-content;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1E0606;
            transition: opacity 0.7s;

            &:hover {
                opacity: 0.5;
            }
        
            &:active {
                opacity: 0.2;
            }
        }
    }

    &_contact {
        display: flex;
        margin-left: 406px;
        margin-top: 60px;
        align-items: center;
        column-gap: 23px;
        @media screen and (max-width: 768px) {
            margin-left: 420px;
        }

        &-item {
            &-contacts {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        &-link {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1E0606;
            transition: opacity 0.7s;
        
            &:hover {
                opacity: 0.5;
            }
        
            &:active {
                opacity: 0.2;
            }
        }
    }
}

/* Logotype style */

.logo {
    margin-right: 60px;
    margin-top: 50px;
    transition: opacity 0.7s;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.2;
    }
}
