/* pagination */

.pages {
    display: flex;
    justify-content: center;

    &_list {
        display: flex;
        align-items: center;
        margin-top: 13px;
        margin-left: 37px;
        margin-bottom: -41px;
        column-gap: 65px;
    
        &-link {
            display: flex;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #1E0606;
            transition: color 0.7s;
        
            &:hover {
                color: #AAAAAA;

            }
        
            &:active {
                color: #C29974;
            }
            
        }
    }

    &_button-back {
        display: flex;
        margin-left: -75px;
        margin-right: 390px;
        border-style: none;
        background-color: #ffffff;
    
        &:hover {
            background-image: url("/img/page_back_hover.svg");
            transform: rotate(180deg);
            background-repeat: no-repeat;
        }
    
        &:active {
            background-image: url("/img/page_back_active.svg");
            transform: rotate(180deg);
            background-repeat: no-repeat;
        }
        
    }

    &_button-ahead {
        display: flex;
        margin-left: 391px;
        border-style: none;
        background-color: #ffffff;
    
        &:hover {
            background-image: url("/img/page_ahead_hover.svg");
            background-repeat: no-repeat;
        }
    
        &:active {
            background-image: url("/img/page_ahead_active.svg");
            background-repeat: no-repeat;
        }
    }
}

.nav-link--vector:hover {
    opacity: 0;
 }