.categories_sublist {
    display: flex;
    margin-top: 23px;
    margin-left: 162px;
    column-gap: 20px;
     
    @media screen and (max-width: 768px) {
        margin-left: -18px;
    }
    @media screen and (max-width: 376px) {
        margin-left: -43px;
        margin-top: -5px;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 9px;
        row-gap: 10px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    &-link {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
        position: absolute;
        max-width: 192px;
        transition: text-decoration 0.7s;
        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 29px;
        }
        @media screen and (max-width: 376px) {
            font-size: 18px;
            line-height: 22px;
        }
    
        &:hover {
            text-decoration-line: underline;
            text-decoration-color: #ffffff;
        }
    
        &:active {
            text-decoration-line: underline;
            text-decoration-color: #ffffff;
        }
    }
}
