.categories_title, .delivery_title, .about_us_title, .contacts_list-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
    }
    @media screen and (max-width: 376px) {
        font-size: 24px;
        line-height: 29px;
    }
}