@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin no-btn {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin article_constr {
  &_date {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
  }
  &_title {
    display: flex;
    margin-top: -10px;
    width: 380px;
    @media screen and (max-width: 768px) {
      width: 314px;
    }
    &_link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #1E0606;
    }
  }
  &_text {
    display: flex;
    margin-top: -3px;
    margin-bottom: 34px;
    width: 380px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
      width: 314px;
    }
  }
}