/* animation */

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 768px;
    overflow: hidden;
}

.scene_pic {
    display: flex;
    margin-bottom: 840px;
    justify-content: center;
    overflow: hidden;
}

.city {
    position: absolute;
    top: 484px;
    left: -20px;
}

.sky{
    position: absolute;
    top: 350px;
    left: 150px;
}

.first_bg_lantern{
    position: absolute;
    top: 520px;
    left: 510px;
}

.second_bg_lantern{
    position: absolute;
    top: 520px;
    left: 1380px;
}

.first_car{
    position: absolute;
    top: 775px;
    left: 15px;
    animation: first_car 4s ease-in infinite;
}

@keyframes first_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(1550px);
    }
}

.second_car{
    position: absolute;
    top: 780px;
    left: 405px;
    animation: second_car 3s ease-in infinite;
}

@keyframes second_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(1500px);
    }
}

.third_car{
    position: absolute;
    top: 795px;
    left: 700px;
    animation: third_car 2s ease-in infinite;
}

@keyframes third_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(750px);
    }
}

.fourth_car{
    position: absolute;
    top: 758px;
    left: 1250px;
    animation: fourth_car 3s ease-in infinite;
}

@keyframes fourth_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(300px);
    }
}

.taxi{
    position: absolute;
    top: 750px;
    left: 1400px;
    animation: taxi 20s ease-in-out forwards;
}

@keyframes taxi {
    0% {
        transform: translate(0px);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translate(-1000px);
        opacity: 1;
    }

    60% {
        transform: translate(-1000px);
    }

    100% {
        transform: translate(-2500px);
    }
}

.lantern{
    position: absolute;
    top: 510px;
    left: 1125px;
}

.woman{
    position: absolute;
    top: 803px;
    left: 255px;
}

.woman_hand{
    position: absolute;
    top: 917px;
    left: 282px;
    animation: woman_hand 4s ease-in-out;
    transform-origin: left top;
}

@keyframes woman_hand {
    0% {
        // transform: translate(3px);
        rotate: (0deg);
    }

    50% {
        // transform: translate(5px);
        rotate: (-30deg);
    }

    100% {
        // transform: translate(3px);
        rotate: (0deg);
    }
}

.man{
    position: absolute;
    top: 678px;
    left: 370px;
}

.man_hand {
    position: absolute;
    rotate: 150deg;
    top: 643px;
    left: 386px;  
    animation: man_hand 9s ease-in-out;
    transform-origin: left bottom;
}

@keyframes man_hand {
    
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-150deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.suitcases {
    position: absolute;
    top: 975px;
    left: 245px;
}

.message_woman {
    position: absolute;
    top: 705px;
    left: 170px;
    opacity: 0;
    animation: message_woman 7s ease-in;
}

@keyframes message_woman {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.message_man {
    position: absolute;
    top: 640px;
    left: 355px;
    opacity: 0;
    animation: message_man 9s ease-in-out;
}

@keyframes message_man {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message_taxi {
    position: absolute;
    top: 705px;
    left: 1720px;
    opacity: 0;
    animation: message_taxi 20s ease-in-out;
}

@keyframes message_taxi {
    0% {
        opacity: 0;
        transform: translate(0px);
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(-1000px);
    }

    60% {
        opacity: 0;
        transform: translate(-1000px);
    }


    100% {
        opacity: 0;
        transform: translate(-2500px);
    }
}