/* animation */

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    position: relative;
    overflow: hidden;
    margin-left: -90px;
    margin-bottom: -124px;
}

.scene_pic {
    margin-bottom: 840px;
    overflow: hidden;
}

.city {
    position: absolute;
    top: 118px;
    left: -97px;
}

.sky {
    position: absolute;
    top: 2px;
    left: 63px;
}

.first_bg_lantern {
    position: absolute;
    top: 154px;
    left: 423px;
}

.second_bg_lantern {
    position: absolute;
    top: 154px;
    left: 1293px;
}

.first_car {
    position: absolute;
    top: 409px;
    left: -72px;
    animation: first_car 4s ease-in forwards;
}

@keyframes first_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(1550px);
    }
}

.second_car {
    position: absolute;
    top: 414px;
    left: 318px;
    animation: second_car 3s ease-in forwards;
}

@keyframes second_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(1500px);
    }
}

.third_car {
    position: absolute;
    top: 429px;
    left: 613px;
    animation: third_car 2s ease-in forwards;
}

@keyframes third_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(750px);
    }
}

.fourth_car {
    position: absolute;
    top: 392px;
    left: 1163px;
    animation: fourth_car 3s ease-in forwards;
}

@keyframes fourth_car {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(300px);
    }
}

.taxi {
    position: absolute;
    top: 384px;
    left: 1313px;
    animation: taxi 20s ease-in-out forwards;
}

@keyframes taxi {
    0% {
        transform: translate(0px);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translate(-1000px);
        opacity: 1;
    }

    60% {
        transform: translate(-1000px);
    }

    100% {
        transform: translate(-2500px);
    }
}

.lantern {
    position: absolute;
    top: 144px;
    left: 1038px;
}

.woman {
    position: absolute;
    top: 437px;
    left: 168px;
}

.woman_hand {
    position: absolute;
    top: 551px;
    left: 195px;
    animation: woman_hand 2s ease-in-out;
    transform-origin: left top;
}

@keyframes woman_hand {
    0% {
        rotate: (0deg);
    }

    50% {
        rotate: (-30deg);
    }

    100% {
        rotate: (0deg);
    }
}

.man {
    position: absolute;
    top: 312px;
    left: 283px;
}

.man_hand {
    position: absolute;
    rotate: 150deg;
    top: 275px;
    left: 299px;
    animation: man_hand 9s ease-in-out;
    transform-origin: left bottom;
}

@keyframes man_hand {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-150deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.suitcases {
    position: absolute;
    top: 609px;
    left: 158px;
}

.message_woman {
    position: absolute;
    top: 339px;
    left: 83px;
    opacity: 0;
    animation: message_woman 7s ease-in;
}

@keyframes message_woman {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.message_man {
    position: absolute;
    top: 274px;
    left: 268px;
    opacity: 0;
    animation: message_man 9s ease-in-out;
}

@keyframes message_man {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message_taxi {
    position: absolute;
    top: 339px;
    left: 1633px;
    opacity: 0;
    animation: message_taxi 20s ease-in-out;
}

@keyframes message_taxi {
    0% {
        opacity: 0;
        transform: translate(0px);
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(-1000px);
    }

    60% {
        opacity: 0;
        transform: translate(-1000px);
    }


    100% {
        opacity: 0;
        transform: translate(-2500px);
    }
}