.page_title {
    display: flex;
    margin-top: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

/* bread crumbs */

.search_line {
    display: block;

    &_list {
        margin-top: -13px;
        margin-bottom: 50px;
    }
}
/* articles style - blocks/article */
