.page_title {
    display: flex;
    margin-top: 57px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

/* bread crumbs */

.search_line {
    display: block;

    &_list {
        display: flex;
        margin-left: -39px;
        margin-top: -13px;
        column-gap: 13px;
        border-top: 30px;
    
        &-link {
            font-family: 'Crimson Text';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #1E0606;
            transition: opacity 0.7s;
        
            &:hover {
                opacity: 0.5;
            }
        
            &:active {
                opacity: 0.2;
            }
        }
    }

    &_button-ahead {
        border: none;
        background-color: #ffffff;
        z-index: 1;
    }
}

/* category style */

.catalog_categories_list {
    display: flex;
    margin-left: -38px;
    margin-top: 50px;
    column-gap: 20px;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.shirt_pic {
    background-color: #DBE4DB; 
    width: 280px;
    height: 270px;
}

.sock_pic {
    background-color: #EADDD3; 
    width: 280px;
    height: 270px;
}

.deer_pic {
    background-color: #F8F2DA; 
    width: 280px;
    height: 270px;
}

.yeti_pic {
    background-color: #D5D4E1; 
    width: 280px;
    height: 270px;
}

.flamingo_pic {
    background-color: #F3D0DB; 
    width: 280px;
    height: 270px;
    }

.blouse_pic {
    background-color: #E5EAF8; 
    width: 280px;
    height: 270px;
    }

.categories_list-link {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    position: absolute;
    max-width: 155px;
    transition: text-decoration 0.7s;

    &:hover {
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
    }

    &:active {
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
    }
}

/* categories_sublist/views/sub-category */

/* description style */

.product_desc {
    display: block;
    margin-bottom: -47px;

    &-title {
        display: flex;
        margin-top: 55px;
        margin-left: 198px;
        margin-bottom: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
    }

    &-text {
        display: flex;
        margin-top: 15px;
        margin-left: 198px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        width: 680px;
    }
}
