.search_line {
    display: block;
}

.page_title {
    display: flex;
    margin-top: 57px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

/* bread crumbs */

.search_line_list {
    display: flex;
    margin-left: -39px;
    margin-top: -13px;
    column-gap: 13px;
    border-top: 30px;
}

.search_line_list-item {
    display: flex;
}

.search_line_list-link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.search_line_list-link:hover {
    opacity: 0.5;
}

.search_line_list-link:active {
    opacity: 0.2;
}

.search_line_button-ahead {
    border: none;
    background-color: #ffffff;
    z-index: 1;
}

.catalog_categories_list {
    display: flex;
    margin-left: -38px;
    margin-top: 50px;
    column-gap: 20px;
}

.categories_list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shirt_pic {
    background-color: #DBE4DB; 
    width: 280px;
    height: 270px;
 }
 
 .sock_pic {
     background-color: #EADDD3; 
     width: 280px;
     height: 270px;
  }
 
  .deer_pic {
     background-color: #F8F2DA; 
     width: 280px;
     height: 270px;
  }
 
  .yeti_pic {
     background-color: #D5D4E1; 
     width: 280px;
     height: 270px;
  }
 
  .flamingo_pic {
    background-color: #F3D0DB; 
    width: 280px;
    height: 270px;
 }

 .blouse_pic {
    background-color: #E5EAF8; 
    width: 280px;
    height: 270px;
 }

.categories_list-link {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    position: absolute;
    max-width: 155px;
}

.categories_list-link:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

.categories_list-link:active {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

.categories_sublist {
    display: flex;
    margin-top: 23px;
    margin-left: 162px;
    column-gap: 20px;
}

.categories_sublist-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.categories_sublist-link {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    position: absolute;
    max-width: 192px;
}

.categories_sublist-link:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

.categories_sublist-link:active {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

/* description style */

.product_desc {
    display: block;
    margin-bottom: -47px;
}

.product_desc-title {
    display: flex;
    margin-top: 55px;
    margin-left: 198px;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.product_desc-text {
    display: flex;
    margin-top: 15px;
    margin-left: 198px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 680px;
}