.page_title {
    display: flex;
    margin-top: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
    }
    @media screen and (max-width: 376px) {
        font-size: 24px;
        line-height: 29px;
    }
}

/* bread crumbs */

.search_line {
    display: block;
    @media screen and (max-width: 376px) {
        margin-left: 5px;
    }

    &_list {
        margin-left: -38px;
        margin-top: -12px;
    }
}

/* form style */

.contact_page {
    display: flex;
    margin-top: 50px;
    column-gap: 119px;
    margin-bottom: -33px;
    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -50px;
    }
}

.form_fields {
    display: flex;
    @media screen and (max-width: 768px) {
    margin-bottom: -40px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #E5EAF8;
}

.form_inner-wr {
    padding: 42px 40px 65px 40px;
    @media screen and (max-width: 768px) {
        padding: 42px 50px 75px 60px;
        margin-left: -5px;
    }
    @media screen and (max-width: 376px) {
        padding: 42px 13px 75px 23px;

    }
}

.form_wrapper {
    display: flex;
}

.form_wrapper-name {
    display: flex;
    @media screen and (max-width: 376px) {
        // margin-left: 150px;
    }
}

.form_inner {
    display: flex;
    column-gap: 20px;
    @media screen and (max-width: 376px) {
        flex-direction: column;
    }
}

.form_label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.form_input-name {
    display: flex;
    margin-top: 3px;
    margin-bottom: 20px;
    width: 579px;
    height: 50px;
    padding: 0px 0px 0px 20px;
    border: 1px solid #00000033;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        width: 536px;
        height: 50px;
        font-size: 16px;
        line-height: 19px;
    }
    @media screen and (max-width: 376px) {
        width: 285px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
    }
}

.form_input {
    display: flex;
    margin-top: 3px;
    margin-bottom: 20px;
    width: 279px;
    height: 48px;
    padding: 0px 20px 0px 20px;
    border: 1px solid #00000033;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        width: 258px;
        height: 48px;
    }
    @media screen and (max-width: 376px) {
        width: 285px;
        height: 40px;
    }
}

.form_message {
    display: flex;
}

.form_text-message {
    display: flex;
    margin-top: 3px;
    margin-bottom: 22px;
    resize: none;
    padding: 0px 20px 0px 20px;
    width: 579px;
    height: 150px;
    border: 1px solid #00000033;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        width: 536px;
        height: 150px;
    }
    @media screen and (max-width: 376px) {
        width: 285px;
        height: 150px;
    }
}

/* consent style */

.form_label-consent {
    display: flex;
    column-gap: 16px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        column-gap: 10px;
        margin-right: 10px;
    }
    @media screen and (max-width: 376px) {
        width: 280px;
    }
}

/* checkbox consent */

.form_consent {
    position: absolute;
    margin-left: 0;
    padding: 0;
    appearance: none;
}

.form_label-consent::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("/img/checkbox.svg");
    @media screen and (max-width: 376px) {
        width: 39px;
    }
}

.form_consent:checked + .form_label-consent::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("/img/checked.svg");
    @media screen and (max-width: 376px) {
        width: 39px;
    }
}

.form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -32px;
    width: 106px;
    height: 40px;
    padding: 9px 22px 9px 22px;
}

/* support style */

.support {
    display: flex;
    width: 380px;
    @media screen and (max-width: 768px) {
        width: 536px;
        text-align: center;
    }
    @media screen and (max-width: 376px) {
        width: 335px;
        text-align: center;
    }

    &_list {
        display: flex;
        flex-direction: column;
        margin-top: -6px;
        margin-left: -38px;
    }

    &_text {
        display: flex;
        margin-top: 4px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        @media screen and (max-width: 376px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    
    &_title {
        display: flex;
        margin-top: 4px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
    }
}
