.grid_title {
    display: flex;
    margin-top: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
        margin-left: 18px;
        margin-top: 18px;
    }
    @media screen and (max-width: 376px) {
        font-size: 24px;
        line-height: 29px;
        margin-left: -1px;
        margin-top: -17px;
    }
}

.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 430px 430px 430px 215px;
    width: 1400px;
    margin-bottom: -100px;
    margin-left: -110px;
    
    @media screen and (max-width: 768px) {
        justify-content: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 278px 430px 430px 430px 350px 350px 215px;
        width: 768px;
        margin-bottom: -120px;
        margin-left: -20px;
    }

    @media screen and (max-width: 376px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 278px 530px 322px 309px 512px 300px 200px 596px 320px;
        width: 375px;
    }

}

.iphone {
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    grid-column: 1/7;
    grid-row: 1/2;

    @media screen and (max-width: 768px) {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 2/3;
        flex-direction: column;
        align-items: flex-start;
    }
}

.iphone_list {
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    margin-right: 70px;
    margin-bottom: 130px;
    @media screen and (max-width: 768px) {
        margin-left: 73px;
        margin-right: 25px;
    }
    @media screen and (max-width: 376px) {
       margin-left: -20px;
    }
}

.iphone_list-text {
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #BCBCBE;
}
.iphone_list-title {
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #2C3036;
    width: 220px;
    @media screen and (max-width: 376px) {
        width: 328px;
        display: flex;
        margin-top: -5px;
    }
}

.iphone_list-link {
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #BCBCBE;
}

.phone_pic {
    display: flex;
    margin-left: 25px;
    @media screen and (max-width: 376px) {
    margin-top: -91px;
    margin-left: 40px;
    }
}

.evaporator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F8FA;
    grid-column: 7/13;
    grid-row: 1/2;

    @media screen and (max-width: 768px) {
        grid-column: 1/13;
        grid-row: 1/2;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 1/2;
    }
}


.evaporator_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 30px;
    
    @media screen and (max-width: 768px) {
        margin-top: 8px;
    }
    @media screen and (max-width: 376px) {
        align-items: flex-start;
    }
}

.evaporator_list-link {
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #BCBCBE;
    @media screen and (max-width: 376px) {
        text-align: start;
    }
}

.evaporator_list-title {
    display: flex;
    margin-top: 15px;
    text-align: center;
    font-family: 'Lato';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 450px;
    color: #2C3036;
    @media screen and (max-width: 768px) {
       font-size: 35px;
       width: 500px;
    }
    @media screen and (max-width: 376px) {
        font-size: 35px;
        width: 335px;
        text-align: start;
    }
}
.evaporator_list-download {
    display: flex;
    margin-top: -30px;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    color: #2198F4;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
    @media screen and (max-width: 376px) {
    
    }
}

.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF5539;
    grid-column: 1/4;
    grid-row: 2/3;

    @media screen and (max-width: 768px) {
        grid-column: 1/7;
        grid-row: 3/4;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 3/4;
    }
}

.keyboard_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.keyboard_pic {
    display: flex;
}

.keyboard_list-title {
    text-align: center;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    width: 170px;
    @media screen and (max-width: 768px) {
        display: flex;
        margin-top: 10px;
    }
    @media screen and (max-width: 376px) {
    
    }
}

.keyboard_list-link {
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFC80A;
}

.diskette_reader {
    display: flex;
    align-items: flex-end;
    column-gap: 23px;
    background-color: #fff;
    grid-column: 4/9;
    grid-row: 2/3;

    @media screen and (max-width: 768px) {
        grid-column: 1/13;
        grid-row: 4/5;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 5/6;
        flex-direction: column;
    }
}

.diskette_reader-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.diskette_reader-text {
    display: flex;
    margin-left: -79px;
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #BCBCBE;
    @media screen and (max-width: 768px) {
        margin-bottom: -5px;
    }
    @media screen and (max-width: 376px) {
        margin-left: -145px;
    }
}

.diskette_reader-title {
    display: flex;
    margin-left: 9px;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #2C3036;
    width: 170px;
    @media screen and (max-width: 376px) {
        margin-left: -125px;
        width: 166px;
    }
}

.diskette_reader_pic {
    display: flex;
    margin-top: 30px;
    @media screen and (max-width: 376px) {
        margin-top: 15px;
    }
}

.diskette_reader-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    @media screen and (max-width: 376px) {
        margin-right: 20px;
        margin-top: 310px;
    }
}

.diskette_reader-info-text {
    display: flex;
    margin-top: -320px;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #BCBCBE;
    width: 230px;
    @media screen and (max-width: 768px) {
        margin-top: -303px;
    }
    @media screen and (max-width: 376px) {
        width: 335px;
        margin-top: -271px;
    }
}

.diskette_reader-info-download {
    display: flex;
    margin-top: -200px;
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #2198F4;
    @media screen and (max-width: 768px) {
        margin-top: -185px;
    }
    @media screen and (max-width: 376px) {
    margin-left: -1px;
    }
}

.icloud {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8F75BC;
    grid-column: 10/13;
    grid-row: 2/4;

    @media screen and (max-width: 768px) {
        grid-column: 7/13;
        grid-row: 5/7;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 8/9;
    }
}

.icloud_list {
    display: flex;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    @media screen and (max-width: 768px) {
        margin-top: 15px;
    }
    @media screen and (max-width: 376px) {
        margin-left: -10px;
        margin-top: -5px;
    }
}

.diskette_pic {
    display: flex;
}

.icloud_list-title {
    text-align: center;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    @media screen and (max-width: 768px) {
        margin-top: 17px;
    }
    @media screen and (max-width: 376px) {
    
    }
}

.icloud_list-text {
    display: flex;
    margin-top: -10px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    width: 230px;
}

.icloud_list-link {
    text-align: center;
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #2C3036;
    background-color: #FFC80C;
    width: 159px;
    height: 53px;
    padding: 19px 41px;
    border-radius: 27px;

    @media screen and (max-width: 376px) {
        width: 159px;
        height: 53px;
        padding: 19px 41px;
        border-radius: 27px;
    }

    @media screen and (max-width: 768px) {
        width: 159px;
        height: 53px;
        padding: 19px 41px;
        border-radius: 27px;
    }
}

.laptop {
    display: flex;
    align-items: flex-end;
    background-color: #93B7B7;
    grid-column: 1/7;
    grid-row: 3/4;

    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 6/7;
    }
    @media screen and (max-width: 768px) {
        grid-column: 1/7;
        grid-row: 6/7;
    }
}

.laptop_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.laptop-text {
    display: flex;
    margin-top: -40px;
    margin-left: -335px;
    text-align: center;
    font-family: 'Lato';
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    padding: 3px 5px;
    width: 61px;
    height: 16px;
    border-radius: 3px;
    background-color: #FA684F;
    
    @media screen and (max-width: 768px) {
        margin-top: -73px;
        margin-left: -180px;
    }
    @media screen and (max-width: 376px) {
        margin-top: -20px;
        margin-left: -170px;
    }

}

.laptop_list-title {
    text-align: center;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    width: 200px;
    
    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 376px) {
        margin-bottom: 23px;
        margin-left: -10px;
    }
}

.laptop_pic {
    display: flex;
    margin-top: 12px;
    @media screen and (max-width: 376px) {
        margin-left: -10px;
    }
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F8FA;
    grid-column: 7/10;
    grid-row: 3/4;

    @media screen and (max-width: 768px) {
        grid-column: 7/13;
        grid-row: 3/4;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 4/5;
    }
}

.games_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.gamepad_pic {
    width: 303px;
    height: 167px;
}
.games_list-title {
    text-align: center;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #2C3036;
}
.games_list-link {
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #2198F4;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F8FA;
    grid-column: 1/4;
    grid-row: 4/5;

    @media screen and (max-width: 768px) {
        grid-column: 1/7;
        grid-row: 6/7;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 7/8;
    }
}

.instagram_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.instagram_list-link {
    display: flex;
    margin-top: 10px;
    text-align: center;
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #2C3036;
    @media screen and (max-width: 376px) {
        margin-left: -10px;
    }
}

.instagram_follow_pic {
    width: 59px;
    height: 59px;
    @media screen and (max-width: 376px) {
        margin-left: -10px;
    }
}

.tv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    grid-column: 4/13;
    grid-row: 4/5;

    @media screen and (max-width: 768px) {
        grid-column: 1/13;
        grid-row: 7/8;
    }
    @media screen and (max-width: 376px) {
        grid-column: 1/5;
        grid-row: 9/10;
    }
}

.tv_list {
    display: flex;
    margin-top: 21px;
    margin-left: -100px;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    padding: 0;
    @media screen and (max-width: 768px) {
        margin-left: -105px;
    }
    @media screen and (max-width: 376px) {
        flex-direction: column;
        margin-left: -120px;
    }
}

.tv_pic {
    width: 271px;
    height: 215px;
}  

.tv_list-title {
    font-family: 'Lato';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    width: 189px;
    @media screen and (max-width: 376px) {
        display: flex;
        text-align: center;
        margin-left: 105px;
    }
}