@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_fonts";
@import "_blocks/header";
@import "_blocks/footer";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

/* banner style */

.banner {
  display: block;
}

.banner_wrapper {
  margin-top: 124px;
  height: 382px;
  background-color: #eee4db;
}

.banner_list {
  display: flex;
  flex-direction: column;
  column-gap: 11px;
  margin-left: -12px;
}

.number {
  display: flex;
  column-gap: 10px;
  margin-top: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color:#1e06060d;
}

.banner_list-button {
  display: flex;
  margin-top: 10px;
  margin-left: 3px;
  padding: 2px;
  width: 31px;
  background-color: #d6cac2;
  border-style: none;
  cursor: pointer;
}

.banner_list-button:hover {
  background-color: #725F5B;
}

.banner_list-button:active {
  background-color: #725F5B;
}

.banner_content-list {
  display: block;
}

.banner_title {
  display: flex;
  margin-top: -70px;
  margin-left: 93px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #1e0606;
  width: 307px;
}

.banner_text {
  display: flex;
  margin-left: 94px;
  margin-top: -9px;
  font-family:'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1e0606;
}

.banner_button {
  display: flex;
  margin-left: 94px;
  margin-top: 21px;
  padding: 7px 20px;
  background-color: #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.banner_button:hover {
  background-color: #C29974;
  border-style: none;
}

.banner_button:active {
  background-color: #CFAF91;
  border-style: none;
}

.banner_button:disabled {
  background-color: #C7C1C1;
  border-style: none;
}

.banner_pic {
  display: flex;
  position: absolute;
  margin-left: 405px;
  margin-top: -373px;
}

.banner_subtext {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  padding: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c29974;
  position: relative;
}

/* category style */

.categories {
  display: block;
}

.category_title {
  display: flex;
  margin-top: 92px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.categories_list {
  display: flex;
  margin-left: -40px;
  column-gap: 20px;
}

.categories_list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.shirt_pic {
 background-color: #DBE4DB; 
 width: 280px;
 height: 270px;
}

.sock_pic {
  background-color: #EADDD3; 
  width: 280px;
  height: 270px;
}

.deer_pic {
  background-color: #F8F2DA; 
  width: 280px;
  height: 270px;
}

.yeti_pic {
  background-color: #D5D4E1; 
  width: 280px;
  height: 270px;
}

.categories_list-link {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  width: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px #93030340;
  position: absolute;
}

.categories_list-link:hover {
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
}

.categories_list-link:active {
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
}

.categories_text {
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-left: -40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 643px;
  color: #1E0606;
}

.categories_button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #70bbdc33;
  width: 37px;
  height: 37px;
  border-style: none;
  cursor: pointer;
}

.categories_button-ahead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 20px;
  background: #70bbdc33;
  width: 37px;
  height: 37px;
  border-style: none;
  cursor: pointer;
}

/* delivery style */

.delivery {
  display: flex;
  margin-top: 78px;
}

.delivery_pic {
  display: flex;
  margin-top: 7px;
}

.delivery_list {
  display: flex;
  margin-left: 23px;
  margin-top: 40px;
  justify-content: center;
  flex-direction: column;
}

.delivery_title {
  display: flex;
  margin-left: 58px;
  margin-top: -30px;
  margin-bottom: 1px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.delivery_list-main {
  display: flex;
  margin-right: 215px;
  margin-left: -4px;
  padding: 11px 62px;
  background-color: #70bbdc33;
}

.delivery_link-main {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
}

.delivery_list-item {
  display: flex;
  margin-top: 18px;
  margin-left: 58px;
}

.delivery_list-link {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606; 
}

.delivery_text-first {
  display: flex;
  margin-top: 15px;
  margin-left: 58px;
  width: 480px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.delivery_text-second {
  display: flex;
  margin-top: -15px;
  margin-left: 58px;
  width: 480px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.delivery_button {
  display: flex;
  margin-top: 8px;
  margin-left: 57px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 21px;
  background: #000000;
  cursor: pointer;
}

.delivery_button:hover {
  background-color: #C29974;
  border-style: none;
}

.delivery_button:active {
  background-color: #CFAF91;
  border-style: none;
}

.delivery_button:disabled {
  background-color: #C7C1C1;
  border-style: none;
}

/* companies style */

.companies_logo {
  display: block;
  margin-top: 99px;
}

.companies_list {
  display: flex;
  align-items: center;
  margin-left: -40px;
  column-gap: 127px;
}

/* about us style */

.about_company {
  display: flex;
  column-gap: 57px;
  margin-top: 113px;
}

.about_us_list {
  display: flex;
  margin-top: -6px;
  flex-direction: column;
  background-color: #E1F0F7;
  max-width: 543px;
  margin-bottom: 52px;
}

.about_us_title {
  display: flex;
  position: absolute;
  margin-top: -24px;
  margin-left: -10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.about_us_subtitle {
  display: flex;
  margin-top: 31px;
  margin-left: -11px;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
}

.about_us_text {
  display: flex;
  margin-top: -15px;
  margin-left: -11px;
  margin-right: 30px;
  width: 483px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.about_us_button {
  display: flex;
  margin-top: 5px;
  margin-left: -10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 21px;
  background-color: #000000;
  cursor: pointer;
  max-width: max-content;
  margin-bottom: 27px;
}

.about_us_button:hover {
  background-color: #C29974;
  border-style: none;
}

.about_us_button:active {
  background-color: #CFAF91;
  border-style: none;
}

.about_us_button:disabled {
  background-color: #C7C1C1;
  border-style: none;
}

/* contacts style */

.contacts_list {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
  background-color: #E1F0F7;
  max-width: 543px;
  height: 208px;
  margin-bottom: 55px;
}

.contacts_title {
  display: flex;
  position: absolute;
  margin-top: -26px;
  margin-left: -11px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.contacts_text {
  display: flex;
  margin-top: 40px;
  margin-left: -10px;
  margin-right: 30px;
  margin-bottom: 26px;
  width: 483px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.contacts_list-map {
  display: flex;
  margin-top: 4px;
  margin-left: -8px;
}

/* popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #7d97dacc;
}

.popup_wrapper {
  display: flex;
  margin-top: 49px;
  margin-left: -35px;
  z-index: 3;

}

.popup {
  display: none;
  top: 17%;
  left: 30%;
  position: absolute;
}

.open {
  display: flex;
  pointer-events: auto;
}

.close {
  display: flex;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("../images/close_btn.svg");
}

/* form style */

.form_fields {
  display: flex;
}

.contact_form {
  display: flex;
  flex-direction: column;
  background-color: #E5EAF8;
}

.form_inner-wr {
  padding: 42px 40px 65px 40px;
}

.form_wrapper {
  display: flex;
}

.form_wrapper-name {
  display: flex;
}

.form_inner {
  display: flex;
  column-gap: 20px;
}

.form_label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.form_input-name {
  display: flex;
  margin-top: 3px;
  margin-bottom: 20px;
  width: 579px;
  height: 50px;
  padding: 0px 0px 0px 20px;
  border: 1px solid #00000033;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}

.form_input {
  display: flex;
  margin-top: 3px;
  margin-bottom: 20px;
  width: 248px;
  height: 48px;
  padding: 0px 20px 0px 20px;
  border: 1px solid #00000033;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}

.form_message {
  display: flex;
}

.form_text-message {
  display: flex;
  margin-top: 3px;
  margin-bottom: 22px;
  resize: none;
  padding: 0px 20px 0px 20px;
  width: 558px;
  height: 150px;
  border: 1px solid #00000033;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}

/* consent style */

.form_label-consent {
  display: flex;
  column-gap: 16px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

/* checkbox consent */

.form_consent {
  position: absolute;
  margin-left: 0;
  padding: 0;
  appearance: none;
}

.form_label-consent::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../images/checkbox.svg");
}

.form_consent:checked + .form_label-consent::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../images/checked.svg");
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -22px;
  width: 106px;
  height: 40px;
  padding: 9px 22px 9px 22px;
  background-color: #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.form_button:hover {
  background-color: #C29974;
  border-style: none;
}

.form_button:active {
  background-color: #CFAF91;
  border-style: none;
}

.form_button:disabled {
  background-color: #C7C1C1;
  border-style: none;
}

