.toys {
    display: block;
}

.toys_title {
    display: flex;
    margin-top: 57px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
        margin-left: 18px;
        margin-top: 18px;
    }
    @media screen and (max-width: 376px) {
        font-size: 24px;
        line-height: 29px;
        margin-left: -1px;
        margin-top: -17px;
    }
}

/* bread crumbs */

.toys_search_line {
    display: block;

    &_list {
        display: flex;
        margin-left: -38px;
        margin-top: -10px;
        column-gap: 14px;
        border-top: 30px;

        @media screen and (max-width: 768px) {
            margin-left: -18px;
        }
        @media screen and (max-width: 376px) {
            margin-left: -38px;
        }
    
        &-link {
            font-family: 'Crimson Text';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #1E0606;
            @media screen and (max-width: 376px) {
                font-size: 16px;
            }
        
            &:hover {
                opacity: 0.5;
            }
            
            &:active {
                opacity: 0.2;
            }
        }
    }
}

.toys_search_line_button-ahead {
    border: none;
    background-color: #ffffff;
}

/* cards style */

.cards {
    display: block;

    &_wrapper {
        display: flex;
        margin-left: -42px;
        @media screen and (max-width: 768px) {
            margin-left: -54px;
            margin-bottom: -68px;
        }
        @media screen and (max-width: 376px) {
            margin-left: -98px;
            margin-bottom: -68px;
        }
    }

    &_list {
        display: flex;
        margin-top: 60px;
        flex-wrap: wrap;
        justify-content: space-around;
        @media screen and (max-width: 768px) {
            margin-left: 40px;
            justify-content: start;
            column-gap: 20px;
            margin-top: 20px;
            margin-bottom: -50px;
        }
        @media screen and (max-width: 376px) {
            flex-wrap: wrap;
            column-gap: 16px;
            align-items: end;
        }

        &-link {
            display: flex;
            margin-top: 30px;
            justify-content: center;
            text-align: center;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #1E0606;
            @media screen and (max-width: 768px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media screen and (max-width: 376px) {
                width: 157px;
            }
        }
        &-info {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            margin-top: -426px;
            margin-left: 85px;
            opacity: 0;
            background-color: #E5EAF8;
            width: 207px;
            height: 207px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase; 
            color: #1E0606;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                margin-left: 50px;
                margin-right: 90px;
                margin-top: -275px;
                column-gap: 40px;
                width: 107px;
                height: 107px;
                font-size: 16px;
                line-height: 19px;
            }
            @media screen and (max-width: 376px) {
                margin-left: 25px;
            }

            &:hover {
                opacity: 0.9;
            }
            &:active {
                opacity: 0.7;
            }
        }
    }
}

.cost {
    display: flex;
    margin-top: 14px;
    margin-bottom: 42px;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
    }
    @media screen and (max-width: 376px) {
        font-size: 12px;
    }
}
