<footer class="footer">
  <div class="secondary_nav">
      <ul class="secondary_nav_list">
          <li class="secondary_nav_list-item">Navigation</li>
          <li class="secondary_nav_list-item">Customer information</li>
          <li class="secondary_nav_list-item">Connect</li>
      </ul>
  </div>
  <div class="wrapper">
      <ul class="navigation_list">
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">About Us</a></li>
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">Blog</a></li>
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">Design Services</a></li>
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">Featured On</a></li>
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">2018 Holiday Catalog</a></li>
          <li class="navigation_list-item"><a class="navigation_list-link" href="#">Shop By Designer</a></li>
      </ul>
      <ul class="customer_info_list">
          <li class="customer_info-item"><a class="customer_info-link" href="#">Contact Us</a></li>
          <li class="customer_info-item"><a class="customer_info-link" href="#">Sale Exclusions</a></li>
          <li class="customer_info-item"><a class="customer_info-link" href="#">Shipping & Returns</a></li>
          <li class="customer_info-item"><a class="customer_info-link" href="#">Terms & Conditions</a></li>
          <li class="customer_info-item"><a class="customer_info-link" href="#">Privacy Policy</a></li>
          <li class="customer_info-item"><a class="customer_info-link" href="#">Search</a></li>
      </ul>
      <form action="#" class="email_form">
          <input type="email" class="email" id="Email" placeholder="Email">
          <button type="button" class="connect_button" aria-label="Join to get news">Join</button>
      </form>
      <ul class="connect_list">
          <li class="connect_list-item">
              <a class="connect_list-link" href="#"><img src="./icon/Facebook.svg" alt="facebook_logo"></a>
          </li>
          <li class="connect_list-item">
              <a class="connect_list-link" href="#"><img src="./icon/Twitter.svg" alt="twitter_logo"></a>
          </li>
          <li class="connect_list-item">
              <a class="connect_list-link" href="#"><img src="./icon/Pinterest.svg" alt="pinterest_logo"></a>
          </li>
          <li class="connect_list-item">
              <a class="connect_list-link" href="#"><img src="./icon/Instagram.svg" alt="instagram_logo"></a>
          </li>
      </ul>
  </div>
  <div class="last_info">
      <ul class="last_info_list">
          <li class="last_info_list-item comp_rating">Company Rating
              <div class="rating_wrapper">
                  <fieldset class="rating_area">
                      <div class="rating_group">
                          <input type="radio" name="star" value="1" class="rating_input" aria-label="Ужасно">
                          <input type="radio" name="star" value="2" class="rating_input" aria-label="Плохо">
                          <input type="radio" name="star" value="3" class="rating_input" aria-label="Нормально">
                          <input type="radio" name="star" value="4" class="rating_input" aria-label="Хорошо">
                          <input type="radio" name="star" value="5" class="rating_input" aria-label="Отлично">
                      </div>
                  </fieldset>
              </div>
          </li>
          <li class="last_info_list-item">Copyright &copy;2018 Dlk • Design Life Kids</li>
          <li class="last_info_list-item"><a class="web_design-link" href="#">Web Design — Direct Line
                  Development</a></li>
      </ul>
  </div>
</footer>
