<header class="header container">
    <a href="/"><img src="./img/logo.svg" alt="Logo" width="100" height="52" class="logo"></a>
    <ul class="header_list">
        <li class="header_list-item"><a class="header_list-link" href="/blog.html">BLOG</a></li>
        <li class="header_list-item"><a class="header_list-link" href="/catalog.html">CATALOG</a></li>
        <li class="header_list-item"><a class="header_list-link" href="#about_us">ABOUT US</a></li>
    </ul>
    <ul class="header_contact">
        <li class="header_contact-item"><a class="header_contact-link" href="#"><img src="/img/icon/search.svg" alt="Search" width="17" height="17"></a></li>
        <li class="header_contact-item"><a class="header_contact-link" href="/contact.html">CONTACT US</a>
        </li>
    </ul>
</header> 