<div class="menu_wrapper">
    <div class="menu_inner"> 
        <ul class="menu_list">
            <ul class="menu_list_header">
                <li class="menu_list_header-item"><a href="#"><img src="./img/logo.svg" alt="Logo" width="42" height="22" class="menu_logo"></a></li>
                <li class="menu_list_header-item"><button class="close_menu"></button></li>
                <li class="menu_list_header-item"><a href="#"><img src="./img/icon/search.svg" alt="Search" width="12" height="12" class="menu_search"></a></li>
            </ul>
            <li class="menu_list-item"><a href="#" class="menu_list-link">CATALOG</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">ABOUT US</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">BLOG</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">ANIMATION</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">SVG</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">BLOG</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-link">GRID</a></li>
            <li class="menu_list-item"><a href="#" class="menu_list-contact">CONTACT US</a></li>
        </ul>
    </div>
    <div class="menu_overlay"></div>
</div>