<div class="pages container">
    <ul class="pages_list">
        <li><a href="#" class="pages_button-back"><img src="./img/icon/page_back.svg" alt="page-back" class="nav-link--vector"></a></li>
        <li class="pages_list-item"><a class="pages_list-link" href="#">1</a></li>
        <li class="pages_list-item"><a class="pages_list-link" href="#">2</a></li>
        <li class="pages_list-item"><a class="pages_list-link" href="#">3</a></li>
        <li class="pages_list-item"><a class="pages_list-link" href="#">4</a></li>
        <li><a href="#" class="pages_button-ahead"><img src="./img/icon/page_ahead.svg" alt="page-ahead" class="nav-link--vector"></a></li>
    </ul>
</div>       